

// sidebar
.blog-sidebar {
	background: $sidebar-bg;
    aside {
        margin-bottom: 40px;
        border-radius: 10px;
        padding: 20px 20px 30px 20px;
    }
}

.sidebar-title {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    @include font($oswald);
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
    letter-spacing: .36px;
    &::before {
        content: '';
        position: absolute;
        border-top: 1px solid $red;
        width: 50px;
        bottom: 0;
        left: calc(50% - 25px);
    }
}

.about-us {
    .a-img {
        display: block;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        overflow: hidden;
        margin: auto auto 20px auto;
    }
    .a-name {
        display: block;
        font-weight: 700;
        font-size: 20px;
        color: $white;
        @include font($playfair);
    }
    .a-desc {
        font-size: 14px;
        line-height: 1.7;
        color: $text;
        @include font($lora);
    }
}

.social-icon{
	li{
		display: inline-block;
		padding: 5px;
		a{
			color: $white;
		}
	}
}

.pp-item {
    padding: 10px 0;
    &:hover{
        .pp-title{
            color: $red;
        }
    }
    .pp-thumb {
        display: block;
        height: 65px;
        width: 65px;
        min-width: 65px;
        margin-right: 15px;
    }
    .pp-title {
        color: $white;
        font-weight: 700;
        display: block;
    }
    .pp-date {
        color: $gray;
        font-size: 14px;
        font-style: italic;
    }
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border: 0;
    }
    h6 {
        line-height: 22px;
        font-size: 16px;
    }
}

.share-social-icon{
    li{
        display: inline-block;
        margin: 5px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 44px;
            border-radius: 50%;
            background: rgba(255, 255, 255, .1);
            color: $white;
            &:hover{
                background: $white;
                color: $blog-bg;
            }
        }
    }
}

.categories {
    li {
        padding: 8px 0;
        a {
            display: block;
            color: $category;
            @include font($libre);
            &:hover{
                color: $red;
            }
            span {
                float: right;
                display: inline-block;
                padding-left: 5px;
            }
        }
        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }
}

.instagram-list{
	display: flex;
	flex-wrap: wrap;
	li{
		padding: 5px;
		width: 33.33%;
	}
}

.subscribe-block {
    .sc-title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .form-group{
        margin-bottom: 0;
    }
    input:not([type="submit"]) {
        border: 1px solid $border2;
        padding: 12px;
        height: 50px;
        color: $white;
        font-size: 14px;
        @include font($lora);
        width: 100%;
    }
    input[type='submit'],
    button[type='submit'] {
        width: 100%;
        background: $red;
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        @include font($oswald);
        border: 0;
        height: 50px;
        margin-top: 20px;
        cursor: pointer;
    }
}

.tf-item{
	font-size: 13px;
	font-style: italic;
	@include font($lora);
	color: $border;
	time{
		display: block;
		margin-bottom: 10px;
	}
	p{
		color: $text;
		@include font($lora);
		font-size: 14px;
		a{
			color: $category;
            &:hover{
                color: $red;
            }
		}
	}
}

.carousel-dots{
	.owl-dots{
		text-align: center;
		.owl-dot{
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background: rgba(255, 255, 255, .5);
			margin: 3px;
			display: inline-block;
			&.active{
				width: 26px;
				background: $red;
				border-radius: 10px;
			}
		}
	}
}
