extends ../base/_skeleton
include ../accordion/_accordion

block variables
	- pageName = 'FAQ';

block page
	+rd-navbar

	section.section.section-lg.section-one-screen
		.container
			h2.text-center FAQ
			.row.row-offset-sm.row-30.accordion
				.col-lg-6
					+accordion({
						active: true,
						title: 'In what formats are your templates available?',
						text:  'Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe® Dreamweaver® and Microsoft® FrontPage®.'
					})
					+accordion({
						title: 'What am I allowed to do with the templates?',
						text:  'You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).'
					})
					+accordion({
						title: 'Do you provide any scripts with your templates?',
						text:  'Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.'
					})
				.col-lg-6
					+accordion({
						title: 'What are the advantages of purchasing a website template?',
						text:  'The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.'
					})
					+accordion({
						title: 'How can I pay for my order?',
						text:  'We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.'
					})
					+accordion({
						title: 'What do I receive when I order a template from Zemez?',
						text:  'After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.'
					})
