extends ../base/_skeleton

block variables
	- pageName = 'Home #2';

block page
	include ../rd-navbar/_rd-navbar-sidebar
	include ../section/_intro-2
	include ../section/_features-2
	include ../section/_pricing-plans-2
	include ../section/_about-2
	include ../section/_get-in-touch
	include ../section/_news-2
	include ../section/_how-it-work-2
	include ../section/_our-partners
	include ../section/_testimonials
