extends ../base/_skeleton

block variables
	-
		pageName = 'Home #3'
				menu = menuHome3

block page
	+rd-navbar-2
	
	include ../section/_intro-3
	include ../section/_features-3
	include ../section/_pricing-plans-2
	include ../section/_our-team
	include ../section/_get-in-touch
	include ../section/_news-2
	include ../section/_how-it-work-2
	include ../section/_our-partners
	include ../section/_testimonials
