extends ../base/_skeleton
include ../quote/_quote

block variables
	- pageName = 'Testimonials';

block page
	+rd-navbar

	section.section.section-lg
		.container
			h2.text-center What People Say
			.row.row-offset-sm.row-30.row-md-40.row-xl-60.justify-content-center
				.col-md-6.col-xl-4
					+quote-classic({
						img:     'persons/person-01-57x57',
						title:   'Making Your Life Easier',
						text:    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing.',
						name:    'John Doue',
						company: 'SEO "Company"'
					})
				.col-md-6.col-xl-4
					+quote-classic({
						img:     'persons/person-02-57x57',
						title:   'Making Your Life Easier',
						text:    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing.',
						name:    'John Doue',
						company: 'SEO "Company"'
					})
				.col-md-6.col-xl-4
					+quote-classic({
						img:     'persons/person-03-57x57',
						title:   'Making Your Life Easier',
						text:    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing.',
						name:    'John Doue',
						company: 'SEO "Company"'
					})
				.col-md-6.col-xl-4
					+quote-classic({
						img:     'persons/person-03-57x57',
						title:   'Making Your Life Easier',
						text:    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing.',
						name:    'John Doue',
						company: 'SEO "Company"'
					})
				.col-md-6.col-xl-4
					+quote-classic({
						img:     'persons/person-04-57x57',
						title:   'Making Your Life Easier',
						text:    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing.',
						name:    'John Doue',
						company: 'SEO "Company"'
					})
				.col-md-6.col-xl-4
					+quote-classic({
						img:     'persons/person-01-57x57',
						title:   'Making Your Life Easier',
						text:    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing.',
						name:    'John Doue',
						company: 'SEO "Company"'
					})