//- List social
mixin list-social
	// List social
	ul.list.list-social&attributes( attributes )
		li.list-social-item
			a.icon.icon-circle.icon-md.icon-style-1.mdi-facebook( href='#' )
		li.list-social-item
			a.icon.icon-circle.icon-md.icon-style-1.mdi-twitter( href='#' )
		li.list-social-item
			a.icon.icon-circle.icon-md.icon-style-1.mdi-youtube-play( href='#' )