// Features
section.section.section-lg
	.container
		.row.row-30.justify-content-xxl-between
			.col-xl-7.col-xxl-6
				.row.row-30
					.col-xs-6.col-xl-5.col-xxl-4
						h4 Your Career Starts Here!
						ul.list.list-marked.list-secondary
							li.list-item Creative Space
							li.list-item Growing Career
							li.list-item Cookies
							li.list-item Benefits
						p.bigger.text-300 Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.bigger.mt-1
							a( href='tel:#' ) +1 800 603 6035
					.col-6.col-lg-4.col-xl-7.col-xxl-8.text-xxl-right
						+img( 'image-14-452x354' ).rounded-sm
				.offset-sm.group-20.d-flex.flex-wrap.align-items-baseline
					span.text-600.biggest Welcome to Our Office:
					span.text-300.bigger 9870 St Vincent Place, Glasgow, DC 45 Fr 45
			.col-xl-5
				table.table.table-responsive-xs.table-hover
					tbody
						tr
							td.text-primary.pl-0 Junior Developer
							td Seatle
							td Full Time
							td.text-center.text-600: a.icon.icon-sm.mdi-arrow-right( href='single-career.html' )
						tr
							td.text-primary.pl-0 Junior Developer
							td Seatle
							td Full Time
							td.text-center.text-600: a.icon.icon-sm.mdi-arrow-right( href='single-career.html' )
						tr
							td.text-primary.pl-0 Junior Developer
							td Seatle
							td Full Time
							td.text-center.text-600: a.icon.icon-sm.mdi-arrow-right( href='single-career.html' )
						tr
							td.text-primary.pl-0 Junior Developer
							td Seatle
							td Full Time
							td.text-center.text-600: a.icon.icon-sm.mdi-arrow-right( href='single-career.html' )
