include ../blurb/_blurb

// Features
section#features.section.section-md
	.container
		.row.row-10.flex-lg-row-reverse.align-items-lg-center
			.col-10.col-sm-8.col-lg-6.col-xxl-7.text-center
				+img( 'image-07-674x572.png' ).mt-xxl-5
			.col-lg-6.col-xxl-5
				h2 We Have a Lot of Useful Solutions for You
				p.bigger Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				ul.list.list-marked-check.list-secondary.list-2-column.block.block-lg
					li.list-item 32 GB Cloud Storage
					li.list-item eCommerce Integration
					li.list-item 24/7 Support
					li.list-item Regular Updates
