include ../blurb/_blurb

// Features
section#features.section.section-lg
	.container
		.row.row-30.align-items-center
			.col-xl-4.col-xxl-6.d-none.d-xl-block( data-animate!={ class: 'fadeInUp' } )
				+img( 'image-06-549x597.png' ).ml-xxl-2
			.col-lg-10.col-xl-8.col-xxl-6.pb-xxl-2
				.d-sm-flex.align-items-sm-center( data-animate!={ class: 'fadeInLeft' } )
					h2 Features
					p.mt-sm-0.ml-sm-4.border-sm-left.pl-sm-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...
				.offset-md
					.swiper-modern-wrap
						.swiper-container.swiper-modern(
							data-swiper!= {
								loop: false,
								autoplay: false,
								simulateTouch: false,
								slidesPerView: 1,
								spaceBetween: 30,
								pagination: {
									el: ''
								},
								scrollbar: {
									draggable: true
								},
								breakpoints: {
									480: {
										slidesPerView: 2
									},
									768: {
										slidesPerView: 3
									}
								}
							} )
							.swiper-wrapper
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-secondary icon-style-3 mdi-cursor-default"></span>',
										title: 'Easy Customize',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-dice"></span>',
										title: 'Different Layouts',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-success icon-style-3 mdi-comment"></span>',
										title: 'Friendly Support',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-reload"></span>',
										title: 'Free Update',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-secondary icon-style-3 mdi-cursor-default"></span>',
										title: 'Easy Customize',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-dice"></span>',
										title: 'Different Layouts',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-success icon-style-3 mdi-comment"></span>',
										title: 'Friendly Support',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-reload"></span>',
										title: 'Free Update',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-secondary icon-style-3 mdi-cursor-default"></span>',
										title: 'Easy Customize',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-dice"></span>',
										title: 'Different Layouts',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-success icon-style-3 mdi-comment"></span>',
										title: 'Friendly Support',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-reload"></span>',
										title: 'Free Update',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-secondary icon-style-3 mdi-cursor-default"></span>',
										title: 'Easy Customize',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-dice"></span>',
										title: 'Different Layouts',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-success icon-style-3 mdi-comment"></span>',
										title: 'Friendly Support',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})
								.swiper-slide
									+blurb-boxed({
										media: 'flex-column',
										embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-reload"></span>',
										title: 'Free Update',
										text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.'
									})

							.swiper-scrollbar
