include ../blurb/_blurb

// Features
section.section.section-lg
	.container
		.d-md-flex.align-items-md-center
			h2 How it work
			p.biggest.mt-md-0.ml-md-4.border-md-left.pl-md-3 Quick and Intuitive Profile Configuration
		.offset-xl.blurb-hovered
			.row.row-30.row-lg-0
				.col-md-6.col-lg-3
					.blurb-hovered-item
						+blurb-boxed({
							media: 'flex-lg-column flex-xxl-row',
							embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 font-weight-medium">01</span>',
							title: 'Easy Customize',
							text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt'
						})
				.col-md-6.col-lg-3
					.blurb-hovered-item
						+blurb-boxed({
							media: 'flex-lg-column flex-xxl-row',
							embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 font-weight-medium">02</span>',
							title: 'Different Layouts',
							text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt'
						})
				.col-md-6.col-lg-3
					.blurb-hovered-item
						+blurb-boxed({
							media: 'flex-lg-column flex-xxl-row',
							embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 font-weight-medium">03</span>',
							title: 'Friendly Support',
							text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt'
						})
				.col-md-6.col-lg-3
					.blurb-hovered-item
						+blurb-boxed({
							media: 'flex-lg-column flex-xxl-row',
							embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 font-weight-medium">04</span>',
							title: 'Free Update',
							text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt'
						})
