include ../post/_post
include ../list/_list

// Our partners
section.section.section-lg
	.container
		h2.text-center Our Partners
		.row.row-offset-xl.no-gutters.partner-group
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-01-200x60.png' ).partner-image
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-02-200x60.png' ).partner-image
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-01-200x60.png' ).partner-image
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-02-200x60.png' ).partner-image
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-02-200x60.png' ).partner-image
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-01-200x60.png' ).partner-image
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-02-200x60.png' ).partner-image
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'partners/partner-01-200x60.png' ).partner-image