//Variables
$font-size-base             : 18px;
$font-weight-base           : 300;
$line-height-base           : 1.2;

$ff-sans-serif              : 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-serif                   : 'Oswald', "Times New Roman", Times, serif;

$t-duration                 : 0.4s;

$shell-max-width            : 1332px;
$shell-gutter               : 15px;

$c-black                    : #121212;
$c-white                    : #fff;
$c-base                     : #121212;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1399px
);

$ff-raleway: 'Oswald', sans-serif;
$primary: #2B3033;
$secondary: #c2c2c2;
$white: #ffffff;
$black: #000000;
$black-pearl: #2B3033;
$black2: #2B3033;
$dark: #2b333a;
$dipdark: #2B3033;
$gray: #b1b1b1;
$lightgray: #2B3033;
$red: #6c5ba7;
$redhover: #a192d5;
$text: #d4d3d3;
$midgray: #191c1e;
$ash: #354048;
$ashGray: #2B3033;
$arsenic: #2B3033;
$black-pearl: #172027;
$border: #949494;
$border2: #c1c1c1;
$border3: #2b333a;
$sidebar-bg: #1f2a31;
$blog-bg: #1e262b;
$category: #f1f1f1;
$whisper: #e4e4e4;
$quoteborder: #304354;
// Fonts
$libre: 'Josefin Sans', sans-serif;
$playfair: 'Josefin Sans', serif;
$oswald: 'Oswald', sans-serif;
$sign: 'Raleway';
$lora: 'Raleway', sans-serif;
$roboto: 'Oswald', sans-serif;





$c-gray: #E0E0E0;


$bg-gradient: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
$bg-grad: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
$light-text-on-dark-bg: #efefef;
$purple: #6c5ba7;
$chosenone: $purple;
$bold: 300;
$darkchosenone: darken(#6c5ba7, 10%);
$accent: $chosenone;
$second-font: 'Oswald';
$default-font: 'Josefin Sans';
$text: #efefef;
