/* ------------------------------------------------------------ *\
	Accordion
\* ------------------------------------------------------------ */

.accordion {
	position: relative;

	.accordion__title {
		width: 100%;
		text-align: center;
		font-weight: 200;
		padding-bottom: 90px;
	}

	.accordion__section {
		display: flex;

		@include breakpoint-down(tablet) {
			flex-wrap: wrap;
		}
	}

	.accordion__section + .accordion__section {
		margin-top: 30px;
	}

	.accordion__head h4 {
		padding-left: 14px;
		margin-bottom: 0;
		font-family: $ff-raleway;
		line-height: 1.17;
		transition: color .3s;
	}

	.accordion__head {
		position: relative;
		width: 29%;
		margin-left: -10px;
		display: block;
		padding-bottom: 2px;
		border-bottom: 1px solid $c-gray;
		text-decoration: none;
		font-weight: 300;
		color: $c-gray;
		line-height: 1.94;
		cursor: pointer;
		transition: border .3s;

		&:before {
			content: '';
			position: absolute;
			top: 5px;
			left: -11px;
			width: 9px;
			height: 16px;
			background-image: url(../images/svg/arrow-next.svg);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			transition: background .3s;
		}

		@include breakpoint-down(small-desktop) {
			width: 45%;
		}

		@include breakpoint-down(tablet) {
			width: 100%;
		}

		@include breakpoint-down(mobile) {
			margin-left: 0;
		}
	}

	.accordion__body {
		display: none;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 54%;
		padding-top: 88px;
		opacity: 0;
		padding-left: 30px;
		transition: opacity .3s, transform .3s;
		line-height: 1.94;

		@include breakpoint-down(tablet) {
			position: relative;
			right: auto;
			top: auto;
			transform: none;
			width: 100%;
			padding-top: 60px;
			padding-left: 0;
		}
	}

	.accordion__image {
		margin-bottom: 64px;
		text-align: center;
	}

	.accordion__body h6 {
		margin-bottom: 35px;
		font-size: 18px;
		font-weight: 600;
	}

	.accordion__section.is-active .accordion__body {
		opacity: 1;
		display: block;
	}

	.accordion__section.is-active .accordion__head {
		border-color: #6C5BA7;

		&:before {
			background-image: url(../images/svg/arrow-next-colored.svg);
		}
	}

	.accordion__section.is-active .accordion__head h4 {
		color: #6C5BA7;
	}
}
