/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	margin: 0 -10px;
	display: block;

	@include breakpoint-down(mobile) {
		margin: 0;
		max-width: 87px;
	}
}
