/* ------------------------------------------------------------ *\
	Range Slider
\* ------------------------------------------------------------ */

.range-slider {
	overflow: visible !important;
	border: 0 !important;
	border-radius: 40px;
	background: linear-gradient(178.63deg, #26272B 9.53%, #34393F 95.92%);
	box-shadow: inset 2px 2px 6px #0D0E0F, inset -2px -2px 3px #40464E;

	.ui-widget-header {
		background: linear-gradient(178.17deg, #2E1A47 12.58%, #6C5BA7 89.78%);
		border: 1px solid #6C5BA7;
		box-sizing: border-box;
		box-shadow: 4px 3px 19px #0D0F0F, -5px -5px 20px #404E4B, inset 1px 1px 2px #6C5BA7;
	}

	.ui-state-default {
		border: 0;
		background: none;

		&:before {
			content: '';
			position: absolute;
			top: -16px;
			bottom: 0;
			left: -10px;
			width: 80px;
			height: 60px;
			background-image: url(../images/handler@2x.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
		}
	}
}
