@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Block center
%block-center {
	margin-left: auto;
	margin-right: auto;
}


// Modifying
.block-center {
	@extend %block-center;
}

.block-xxs {
	max-width: px-to-rem( 190px );
}

.block-xs {
	max-width: px-to-rem( 245px );
}

.block-sm {
	max-width: px-to-rem( 380px );
}

.block-md {
	max-width: px-to-rem( 450px );
}

.block-lg {
	max-width: px-to-rem( 520px );
}

.block-1 {
	max-width: px-to-rem( 550px );
}
